body {background-color: #ffffff;}
a {color:  #896a67; text-decoration: none;}
a:hover {color: #ffb8d1}
.honoredtable  {width:100%; margin: 0 auto}
.honoredsitetitle {color: #0f0326; font-size:80px; line-height: 80px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.honoredtagline {color: #b8bdb5; font-size: 120%; text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.honoredprimarymenu {text-align: center; font-size:25px; line-height: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.honoredpagetitle {color: #0f0326; font-size: 50px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.honoredpagetopics {color: #0f0326; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.honoredparagraphs {color: #0f0326; font-size: 20px; line-height: 30px;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
.honoredlightparagraphs {color: #0f0326; font-size: 100%; line-height: 150%;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.honoredsubtitles {color: #b8bdb5; font-size: 100%; line-height: 0%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.honoredfooter {height:500px; width: 950px; margin: 0 auto;}
.honoredcolumn {float: left; width: 30%; padding: 0 1.11% 0 0;}
.honoredcategories {color: #0f0326; font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

.honoredtopdiv {height: 120px;}
.honoredtopimage {width: 90px; margin-left: auto; margin-right: auto; display: block;}
.honoredheader {height: 120px;}
.honorednav {height: 100px;}

.honoredicon {position: relative; margin-left: auto; margin-right: auto; width: 0%; height: 5vw;}
.honoredicon .honorediconhover {position: absolute; left: 0; top: 0; display: none;}
.honoredicon:hover .honorediconhover {display: block}

@media screen and (max-width: 600px) {
    .honoredtopdiv {height: 20vw;}
    .honoredtopimage {width: 12vw; margin-left: auto; margin-right: auto; display: block;}
    .honoredheader {height: 10vw;}
    .honoredsitetitle {font-size: 6vw; line-height: 7vw;}
    .honorednav {height: 8vw;}
    .honoredprimarymenu {font-size: 4.2vw; line-height: 5.5vw;}
    .honoredpagetitle {font-size: 8vw; line-height: 10vw}
}