body {background-color: #ffffff;}
a {color:  #896a67; text-decoration: none;}
a:hover {color: #ffb8d1}
.indextable  {width:100%; margin: 0 auto}
.indexsitetitle {color: #0f0326; font-size:100px; line-height: 100px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.indextagline {color: #b8bdb5; font-size: 120%; text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.indexprimarymenu {text-align: center; font-size:25px; line-height: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.indexpagetitle {color: #0f0326; font-size: 50px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.indexpagetopics {color: #0f0326; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.indexparagraphs {color: #0f0326; font-size: 20px; line-height: 30px;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
.indexlightparagraphs {color: #0f0326; font-size: 100%; line-height: 150%;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.indexsubtitles {color: #b8bdb5; font-size: 100%; line-height: 0%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.indexfooter {height:500px; width: 950px; margin: 0 auto;}
.indexcolumn {float: left; width: 30%; padding: 0 1.11% 0 0;}
.indexcategories {color: #0f0326; font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

.indexicon {position: relative; margin-left: auto; margin-right: auto; width: 0%; height: 5vw;}
.indexicon .indexiconhover {position: absolute; left: 0; top: 0; display: none;}
.indexicon:hover .indexiconhover {display: block}

.indexembed-responsive {position: relative; display: block; height: 0; padding: 0; overflow: hidden;}
.indexembed-responsive-item {position: absolute; top: 0; bottom: 0; left: 0; width: 100%; height: 100%; border: 0;}
.indexembed-responsive-16by9 {padding-bottom: 56.25%;}
  