body {background-color: #ffffff;}
a {color:  #896a67; text-decoration: none;}
a:hover {color: #ffb8d1}
.nonwomentable  {width:100%; margin: 0 auto}
.nonwomensitetitle {color: #0f0326; font-size:80px; line-height: 80px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.nonwomentagline {color: #b8bdb5; font-size: 120%; text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.nonwomenprimarymenu {text-align: center; font-size:25px; line-height: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.nonwomenpagetitle {color: #0f0326; font-size: 50px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.nonwomenpagetopics {color: #0f0326; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.nonwomenparagraphs {color: #0f0326; font-size: 20px; line-height: 30px;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
.nonwomenlightparagraphs {color: #0f0326; font-size: 100%; line-height: 150%;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.nonwomensubtitles {color: #b8bdb5; font-size: 100%; line-height: 0%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.nonwomenfooter {height:500px; width: 950px; margin: 0 auto;}
.nonwomencolumn {float: left; width: 30%; padding: 0 1.11% 0 0;}
.nonwomencategories {color: #0f0326; font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

.nonwomentopdiv {height: 120px;}
.nonwomentopimage {width: 90px; margin-left: auto; margin-right: auto; display: block;}
.nonwomenheader {height: 120px;}
.nonwomennav {height: 100px;}

.nonwomenicon {position: relative; margin-left: auto; margin-right: auto; width: 0%; height: 5vw;}
.nonwomenicon .nonwomeniconhover {position: absolute; left: 0; top: 0; display: none;}
.nonwomenicon:hover .nonwomeniconhover {display: block}

@media screen and (max-width: 600px) {
    .nonwomentopdiv {height: 20vw;}
    .nonwomentopimage {width: 12vw; margin-left: auto; margin-right: auto; display: block;}
    .nonwomenheader {height: 10vw;}
    .nonwomensitetitle {font-size: 6vw; line-height: 7vw;}
    .nonwomennav {height: 8vw;}
    .nonwomenprimarymenu {font-size: 4.2vw; line-height: 5.5vw;}
    .nonwomenpagetitle {font-size: 8vw; line-height: 10vw}
}