body {background-color: #ffffff;}
a {color:  #896a67; text-decoration: none;}
a:hover {color: #ffb8d1}
.portotable  {width:100%; margin: 0 auto}
.portositetitle {color: #0f0326; font-size: 80px; line-height: 80px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
/*.portotagline {color: #b8bdb5; font-size: 120%; text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}*/
.portoprimarymenu {text-align: center; font-size:25px; line-height: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.portopagetitle {color: #0f0326; font-size: 50px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.portopagetopics {color: #0f0326; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.portoparagraphs {color: #0f0326; font-size: 20px; line-height: 30px;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
.portolightparagraphs {color: #0f0326; font-size: 15px; line-height: 25px;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.portosubtitles {color: #b8bdb5; font-size: 100%; line-height: 0%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.portofooter {height:500px; width: 950px; margin: 0 auto;}
.portocolumn {float: left; width: 30%; padding: 0 1.11% 0 0;}
.portocategories {color: #0f0326; font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

.portotopdiv {height: 120px;}
.portotopimage {width: 90px; margin-left: auto; margin-right: auto; display: block;}
.portoheader {height: 120px;}
.portonav {height: 100px}
.portosideimage {width: 90%; height:90%}
.portosidebar {width: 35%; height: 100%; float: left;}
.portomainbar {width: 65%; height: 100%; float: right;}

.portoicon {position: relative; margin-left: auto; margin-right: auto; width: 0%; height: 5vw;}
.portoicon .portoiconhover {position: absolute; left: 0; top: 0; display: none;}
.portoicon:hover .portoiconhover {display: block}

@media screen and (max-width: 600px) {
    .portotopdiv {height: 20vw;}
    .portotopimage {width: 12vw; margin-left: auto; margin-right: auto; display: block;}
    .portoheader {height: 10vw;}
    .portositetitle {font-size: 6vw; line-height: 7vw;}
    .portonav {height: 8vw;}
    .portoprimarymenu {font-size: 4.2vw; line-height: 5.5vw;}
    .portopagetitle {font-size: 8vw; line-height: 10vw}
    .portopagetopics {font-size: 8vw; line-height: 10vw}
    .portoparagraphs {font-size: 6vw; line-height: 8vw;text-align: justify}
    .portolightparagraphs {font-size: 5vw; line-height: 7vw; text-align: justify}
    .portosidebar {display: none;}
    .portosideimage {display: none;}
    .portomainbar {width: 100%; height: 100%;}
}