body {background-color: #ffffff;}
a {color:  #896a67; text-decoration: none;}
a:hover {color: #ffb8d1}
.artiststable  {width:100%; margin: 0 auto}
.artistssitetitle {color: #0f0326; font-size:80px; line-height: 80px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.artiststagline {color: #b8bdb5; font-size: 120%; text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.artistsprimarymenu {text-align: center; font-size:25px; line-height: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.artistspagetitle {color: #0f0326; font-size: 50px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.artistspagetopics {color: #0f0326; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.artistsparagraphs {color: #0f0326; font-size: 20px; line-height: 30px;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
.artistslightparagraphs {color: #0f0326; font-size: 100%; line-height: 150%;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.artistssubtitles {color: #b8bdb5; font-size: 100%; line-height: 0%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.artistsfooter {height:500px; width: 950px; margin: 0 auto;}
.artistscolumn {float: left; width: 30%; padding: 0 1.11% 0 0;}
.artistscategories {color: #0f0326; font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

.artiststopdiv {height: 120px;}
.artiststopimage {width: 90px; margin-left: auto; margin-right: auto; display: block;}
.artistsheader {height: 120px;}
.artistsnav {height: 100px;}

.artistsicon {position: relative; margin-left: auto; margin-right: auto; width: 0%; height: 5vw;}
.artistsicon .artistsiconhover {position: absolute; left: 0; top: 0; display: none;}
.artistsicon:hover .artistsiconhover {display: block}

@media screen and (max-width: 600px) {
    .artiststopdiv {height: 20vw;}
    .artiststopimage {width: 12vw; margin-left: auto; margin-right: auto; display: block;}
    .artistsheader {height: 10vw;}
    .artistssitetitle {font-size: 6vw; line-height: 7vw;}
    .artistsnav {height: 8vw;}
    .artistsprimarymenu {font-size: 4.2vw; line-height: 5.5vw;}
    .artistspagetitle {font-size: 8vw; line-height: 10vw}
}